.wrapper__input{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .wrapper__input input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .wrapper__input label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .wrapper__input span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  .wrapper__input input:focus ~ label,
  .wrapper__input input:valid ~ label{
    top: -5px;
    color: #2691d9;
  }
  .wrapper__input input:focus ~ span::before,
  .wrapper__input input:valid ~ span::before{
    width: 100%;
  }